.global {
    --element-color: #d23444;
    --hover-element-color: #b92022;
    --transition: all 0.5s cubic-bezier(1, 0.46, 0, 1.29);
    --dark-color: #292929;
    --hover-dark-color: #2c2c2c;
    --light-color: #f9fffb;
    --hover-light-color: #e5ece8;
    --gradient-color-a: #d23c52;
    --gradient-color-b: #ff1956;
}

.dark {
    --color: #f9fffb;
    --hover-color: #e5ece8;
    --background: #292929;
    --hover-background: #2c2c2c;
    --background-element: #424242;
    --hover-background-element: #313131;
    --background-transparent: #2c2c2ccc;
    --shadow: rgba(25, 25, 25, 0.7);
    --svg-color: brightness(0) saturate(100%) invert(100%) sepia(55%) saturate(23%) hue-rotate(236deg) brightness(108%) contrast(92%);
}

.light {
    --color: #151515;
    --hover-color: #2c2c2c;
    --background: #f9fffb;
    --hover-background: #e5ece8;
    --background-element: #c2c2c2;
    --hover-background-element: #a5a5a5;
    --background-transparent: rgba(204, 204, 204, 0.8);
    --shadow: rgba(208, 208, 208, 0.7);
    --svg-color: brightness(0) saturate(100%) invert(0%) sepia(5%) saturate(1719%) hue-rotate(357deg) brightness(94%) contrast(84%);
}